<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clothingstore"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
      
        <activity
            android:name="com.example.clothingstore.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.clothingstore.ListadoShirtActivity">
            
        </activity>
        <activity
            android:name="com.example.clothingstore.EditarShirtActivity"
            android:label="@string/title_activity_editar_shirt" >
        </activity>
        <activity
            android:name="com.example.clothingstore.NuevaShirtActivity">
            
        </activity>
        <activity
            android:name="com.example.clothingstore.NuevoHatActivity"
            android:label="@string/title_activity_nuevo_hat" >
        </activity>
    </application>

</manifest>
